# coding: utf-8

"""
    cifrum API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AdjustedValuesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def adjusted_close_values(self, registration_number, currency, start_date, end_date, period_frequency, interpolation_type, **kwargs):  # noqa: E501
        """Returns adjusted close values of a mutual fund by registrationNumber  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adjusted_close_values(registration_number, currency, start_date, end_date, period_frequency, interpolation_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str registration_number: (required)
        :param str currency: (required)
        :param str start_date: (required)
        :param str end_date: (required)
        :param str period_frequency: (required)
        :param str interpolation_type: (required)
        :return: ModelsRawValues
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.adjusted_close_values_with_http_info(registration_number, currency, start_date, end_date, period_frequency, interpolation_type, **kwargs)  # noqa: E501
        else:
            (data) = self.adjusted_close_values_with_http_info(registration_number, currency, start_date, end_date, period_frequency, interpolation_type, **kwargs)  # noqa: E501
            return data

    def adjusted_close_values_with_http_info(self, registration_number, currency, start_date, end_date, period_frequency, interpolation_type, **kwargs):  # noqa: E501
        """Returns adjusted close values of a mutual fund by registrationNumber  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.adjusted_close_values_with_http_info(registration_number, currency, start_date, end_date, period_frequency, interpolation_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str registration_number: (required)
        :param str currency: (required)
        :param str start_date: (required)
        :param str end_date: (required)
        :param str period_frequency: (required)
        :param str interpolation_type: (required)
        :return: ModelsRawValues
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['registration_number', 'currency', 'start_date', 'end_date', 'period_frequency', 'interpolation_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method adjusted_close_values" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'registration_number' is set
        if ('registration_number' not in params or
                params['registration_number'] is None):
            raise ValueError("Missing the required parameter `registration_number` when calling `adjusted_close_values`")  # noqa: E501
        # verify the required parameter 'currency' is set
        if ('currency' not in params or
                params['currency'] is None):
            raise ValueError("Missing the required parameter `currency` when calling `adjusted_close_values`")  # noqa: E501
        # verify the required parameter 'start_date' is set
        if ('start_date' not in params or
                params['start_date'] is None):
            raise ValueError("Missing the required parameter `start_date` when calling `adjusted_close_values`")  # noqa: E501
        # verify the required parameter 'end_date' is set
        if ('end_date' not in params or
                params['end_date'] is None):
            raise ValueError("Missing the required parameter `end_date` when calling `adjusted_close_values`")  # noqa: E501
        # verify the required parameter 'period_frequency' is set
        if ('period_frequency' not in params or
                params['period_frequency'] is None):
            raise ValueError("Missing the required parameter `period_frequency` when calling `adjusted_close_values`")  # noqa: E501
        # verify the required parameter 'interpolation_type' is set
        if ('interpolation_type' not in params or
                params['interpolation_type'] is None):
            raise ValueError("Missing the required parameter `interpolation_type` when calling `adjusted_close_values`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'registration_number' in params:
            path_params['registrationNumber'] = params['registration_number']  # noqa: E501

        query_params = []
        if 'currency' in params:
            query_params.append(('currency', params['currency']))  # noqa: E501
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'period_frequency' in params:
            query_params.append(('periodFrequency', params['period_frequency']))  # noqa: E501
        if 'interpolation_type' in params:
            query_params.append(('interpolationType', params['interpolation_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/adjusted-values/mut-ru/{registrationNumber}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ModelsRawValues',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
